.booklist-container{
  border-bottom: 1px solid gray;
}
.booklist-top{
  display: flex;
  justify-content: space-between;
}
.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.view-book-card{
  display: flex;
  justify-content: center;
}
.credentials{
  color: red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center
}